# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

config SHIELD_PROTOTYPE_MK1_LEFT
    def_bool $(shields_list_contains,prototype_mk1_left)

config SHIELD_PROTOTYPE_MK1_RIGHT
    def_bool $(shields_list_contains,prototype_mk1_right)
